div.text-center
  h1 User List
  hr
  br
  table.text-center[width="1000" border="1" align="center" rules="rows"]
    thead
      tr
        th Name
        th Email
        th Posts
        th follows
        th followers
        th 👍
    tbody
      - @users.each do |user|
        tr
          td 
            = link_to "/users/#{user.id}"
              | #{user.name}
              span
          td = user.email
          td = user.posts.count
          td 0
          td 0
          td 
            = link_to "/users/#{user.id}/likes"
              | #{user.likes.count}
              span