p#notice = notice

br
.card.w-75.mx-auto
  p.card-header
    | 投稿者:
    = link_to "/users/#{@post.user.id}"
      | #{@post.user.name}
      span
    | &nbsp;
    | |
    | &nbsp;
    | 投稿日時:#{@post.created_at.strftime("%Y年%m月%d日 %H:%M:%S")}
    | &nbsp;
    | |
    | &nbsp;
    = link_to "/posts/#{@post.id}/likes"
      | 👍
      span
    = @post.likes.count
  .card-body
    h4.text-center Post
    hr
    h2.card-text #{@post.content}
    br
    hr
    - if user_signed_in?
      - if current_user.already_liked?(@post)
        p.text-right
          = link_to post_like_path(@post), method: :delete, class: 'btn btn-outline-primary', remote: true
            | 👍をはずす
      - else
        p.text-right
          = link_to post_likes_path(@post), method: :post, class: 'btn btn-outline-primary'
            | 👍
            span
    br
    br
    h4.text-center Comments
    hr
    - @comments.each do |comment| 
      p #{comment.comments} 
      p.text-right
        | 投稿者:
        = link_to user_path
          | #{comment.user.name}
          span
        | &nbsp;
        | |
        | &nbsp;
        | 投稿日時:#{@post.created_at.strftime("%Y年%m月%d日 %H:%M:%S")}
      hr
    - if user_signed_in?
      = form_for [@post, @comment] do |f|
        .field.text-center
          = f.label :comment
          br
          = f.text_area :comments, size: "80x10"
          br
          br
          = f.submit 'Comment',class: 'btn btn-primary btn-lg my-1 mb-5 px-5'
br
hr
  p.text-center
    = link_to posts_path, class: 'btn btn-primary'
      | Back
      span
